<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Hello World</title>
</head>
<body>
    <H1>The meaning of life: {{.}} </H1>
    <p>{{template "polarbear"}}</p>
</body>
</html>